{% extends 'base.html' %}
{% block title %}Distributorship{% endblock title %}
{% block body %}

<div class="container-fluid px-0 mt-0 ">
  <img src="\static\image\team1.jpg" class="d-block w-100 mx-0" height="100%" width="100%" alt="">
</div>
<!--video from youtube
<div class="row justify-content-center">
  <div class="emted-responsive emted-responsive-16by9">
    <iframe class="emted-responsive-item" src="https://www.youtube.com/emted/zpOULjyy-n8?rel=0" height="500px" width="700px" allowfullscreen></iframe>
</div>
</div>  -->

<!--digital learning code start-->
<div class="container mt-5">
  <h1 class="text-center">DIGITAL LEARNINGS</h1>
</div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="\static\image\Untitled design (18).png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mt-3">Problem Solving Content eg:</h1>

      <ul style="list-style-type:square;
      font-size:25px;
      font-family:roboto;">
        <li>Finance For Non-Finance</li>
        <li>Zero Dollar Marketing</li>
        <li>Business To Business</li>
        <li>Passive Income and more...</li>

      </ul>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mt-3">Self Paced Learning via the Team Inspiration platform eg:</h1>
      <ul style="list-style-type:square;
      font-size:25px;
      font-family:roboto;">
        <li>Communication skills</li>
        <li>Management skills</li>
        <li>Leadership Skills</li>
        <li>Social media marketing etc.</li>

      </ul>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="\static\image\Untitled design (8).png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="\static\image\Untitled design (10).png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mt-3">Delivered by Subject Matter Experts</h1>
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mt-3">Focus On Implementation and CAREER Growth</h1>
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="\static\image\Untitled design (24).png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
        width="700" height="500" loading="lazy">
    </div>
  </div>
</div>
<!--digital learning code ends-->

<!--distributorship benefits code start-->
<div class="container mt-5 mb-4">
  <h1 class="text-center">Distributorship Benefits</h1>
</div>  
  <div class="container marketing mb-5 border border-dark">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 mt-3">
        <img class="rounded-circle" src="\static\image\bene.png" alt="Generic placeholder image" width="140" height="140">
        <h4>Opportunity To Earn UPTO 20 Lakhs Per Month</h4>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 mt-3">
        <img class="rounded-circle" src="\static\image\benefits1.png" alt="Generic placeholder image" width="140" height="140">
        <h4>Opportunity To Become a part of wealthy family</h4>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 mt-3">
        <img class="rounded-circle" src="\static\image\benefits10.png" alt="Generic placeholder image" width="140" height="140">
        <h4>Market Relevant & Most Affordable Entrepreneurship Programme</h4>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>

  <div class="container marketing mb-5 border border-dark">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4 mt-3">
          <img class="rounded-circle" src="\static\image\benefits4.png" alt="Generic placeholder image" width="140" height="140">
          <h4>High Revenue Earning Product For Sales</h4>
          </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mt-3">
          <img class="rounded-circle" src="\static\image\benefits5.png" alt="Generic placeholder image" width="140" height="140">
          <h4>Periodic Webinar By Mr. Amitesh Rajput.</h4>
          </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 mt-3">
          <img class="rounded-circle" src="\static\image\benefits6.png" alt="Generic placeholder image" width="140" height="140">
          <h4>Digital earning platform</h4>
            </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div>

    <div class="container marketing mb-5 border border-dark">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4 mt-3">
            <img class="rounded-circle" src="\static\image\benefits7.png" alt="Generic placeholder image" width="140" height="140">
            <h4>Learning Management System For All Product Information, Marketing Collaterals And Growth Through Self-Learning</h4>
              </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 mt-3">
            <img class="rounded-circle" src="\static\image\benefits8.png" alt="Generic placeholder image" width="140" height="140">
            <h4>Complaint Management System (CMS) To Raise Requests & Complaints Or To Give Suggestions</h4>
              </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 mt-3">
            <img class="rounded-circle" src="\static\image\benefits9.png" alt="Generic placeholder image" width="140" height="140">
            <h4>Dedicated Leaders To Train On Product & Sales Techniques - How To Generate, Nurture And Close Leads</h4>
                  </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>






{% endblock body %}