{% extends 'base.html' %}
{% block title %}Gallery{% endblock title %}
{% block body %}

<div class="container-fluid px-0 mb-0 opacity-75 ">
  <img src="\static\image\team3.jpg" class="d-block w-100 mx-0" height="100%" width="100%" alt="">

</div>
<h1 class="text-center" style="position: absolute;
left: 550px;
bottom: 350px;
font-size:60px;
color:#FFFF00;
font-family:serif;
font-weight:bolder;
">GALLERY</h1>

<h1 class="text-center mt-3 mb-0">Achievements</h1>

<div class="album py-5 bg-light">

  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img1.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>



      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img3.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img4.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img5.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img6.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img15.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img16.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img17.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img18.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img19.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img20.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="\static\image\img28.jpg" width="100%" height="225" class="img-fluid">
        </div>
      </div>

    </div>
  </div>


  <h1 class="text-center mt-3 mb-0">Team</h1>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img7.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>



        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img8.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img9.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img10.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img11.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img12.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img13.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img14.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img20.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img26.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img29.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\img30.jpg" width="100%" height="225" class="img-fluid">
          </div>
        </div>

      </div>
    </div>






  </div>





  {% endblock body %}