{% extends 'base.html' %}
{% block title %}Home{% endblock title %}Home


{% block body %}
<!--Slider-->
<div class="container-fluid px-0">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="\static\image\team4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="\static\image\team1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="\static\image\team4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<section class="what_BCP">
  <div class="container">
    <h3 class="text-center">What is team Inspiration ?

    </h3>
    <div class="row pt-4">
      <div class="col-sm-6 col-12 text-center">
        <img src="\static\image\Untitled design (6).png" class="img-fluid">
      </div>
      <div class="col-sm-6 col-12">
        <p> A powerful team is made by persuing their dream and not giving up on hopes. 
          The team that plays together to achieve its goal. Our target is to motivate others from our actions, 
          and to  achieve more than what is predicted with our beliefs. So have faith in yourself
          and on your team.
        </p>
        <button type="button" class="BCP_btn open-frm-modals" data-bs-toggle="modal" data-bs-target="#registerModal">Join Our Program</button>
      </div>
    </div>
    <h4 class="">Benefits with team inspiration

    </h4>
    <div class="row pt-4">
      <div class=" tile">
        <img src="\static\image\Untitled design (17).png" class="img-fluid">
        <h5> Personalised business coach.

        </h5>
      </div>
      <div class=" tile">
        <img src="\static\image\Untitled design (15).png" class="img-fluid">
        <h5>Exclusive videos tutorials and Training.

        </h5>
      </div>
      <div class=" tile">
        <img src="\static\image\Untitled design (11).png" class="img-fluid">
        <h5>Live session with our leaders.

        </h5>
      </div>
      <div class=" tile">
        <img src="\static\image\Untitled design (24).png" class="img-fluid">
        <h5>Effective Structured Business Platform</h5>
      </div>

    </div>
  </div>
</section>



<!-- why business program-->
<section class="program_BCP">
  <div class="container">
    <h3 class="text-center">Why Team Inspiration?

    </h3>
    <div class="row pt-4">
      <div class="tile">
        <img src="\static\image\Untitled design (8).png" class="img-fluid">
        <h4>Executive category</h4>
        <p>Develop your basic necessary skills for business requirement or job requirement like – Communication skills,
          management skill, team building etc.</p>
        <h6><b>Benefits</b></h6>
        <ul>
          <li>Live sessions with core Leaders.</li>
          <li>100+ business videos. </li>
          <li>Lifetime mentorship.</li>
        </ul>
        <button type="button" class="enquire open-frm-modals" data-bs-toggle="modal" data-bs-target="#registerModal">Enquire Now</button>
      </div>

      <div class="tile">
        <img src="\static\image\Untitled design (7).png" class="img-fluid">
        <h4>Medium category</h4>
        <p>Our premium category includes all the things that we are providing
          in executive category and we provide some extra benefits like – Social media marketing and tools.</p>
        <h6><b>Benefits</b></h6>
        <ul>
          <li>Social media profile building.</li>
          <li> Canva editing & post creation.</li>
          <li> A platform of online earning up-to 100000 rupees per week.

          </li>
          <li>+ Benefits of executive category </li>

        </ul>
        <button type="button" class="enquire open-frm-modals" data-bs-toggle="modal" data-bs-target="#registerModal">Enquire Now</button>
      </div>
      <div class="tile">
        <img src="\static\image\Untitled design (22).png" class="img-fluid">
        <h4>Premium category </h4>
        <p>The features of premium category include all the things that we are providing in medium category.
          It involves some premium features like
          Distributer level, personal business etc. </p>
        <h6><b>Benefits</b></h6>
        <ul>
          <li>Distributer level.</li>
          <li>Unlimited earning.</li>
          <li>Recorded sessions.</li>
          <li>Social media profile building.</li>


          <li>+ Benefits of medium category.</li>
        </ul>
        <button type="button" class="enquire open-frm-modals" data-bs-toggle="modal" data-bs-target="#registerModal">Enquire Now</button>
      </div>
    </div>
  </div>
</section>






</div>








<!--who will teach-->

<section class="program_who">
  <div class="container">
    <h3 class="text-center">WHO WILL TEACH YOU

    </h3>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader3.jpg" class="img-fluid">

            <div class="card-body">
              <h4 class="text-center">Mr. Shibshankar Sarkar</h4>
              <h5 class="text-center">(Upcoming Saphhire leader)</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader2.jpg" width="100%" height="225" class="img-fluid">


            <div class="card-body">
              <h4 class="text-center">Mr. Amitesh Rajput</h4>
              <h5 class="text-center">(Topaz Leader)</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader1.jpg" class="img-fluid">


            <div class="card-body">
              <h4 class="text-center">Mr. Akshay Kirti</h4>
              <h5 class="text-center">(Upcoming Platinum Leader)</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader4.jpg" class="img-fluid">

            <div class="card-body">
              <h4 class="text-center">Mr. Ramendra Kumar </h4>
              <h5 class="text-center">(Gold Leader )</h5>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


{% endblock body %}