{% extends 'base.html' %}
{% block title %}Lifetime Membership{% endblock title %}
{% block body %}

<div class="container-fluid px-0 mb-0 ">
  <img src="\static\image\lifetime1.jpg" class="d-block w-100 mx-0" height="100%" width="100%" alt="">
</div>


<div class="container my-4">


  <div class="row featurette d-flex justify-content-center align-items-center">
    <div class="col-md-7">

      <h1 class="featurette-heading">Get a <br><b class="text-warning">Lifetime membership</b><br> <span
          class="title-dark">of Team Inspiration<br></span>
      </h1>
      <p class="lead">Advantages of becoming a lifetime member:
      </p>

      <div class="row">
        <div class="col-12">
          <ul>
            <li>Lifetime Access to Everything About Entrepreneurship</li>
            <li>2 EAE events</li>
            <li>Lifetime Access to All Digital Learning</li>
            <li>Lifetime Access to Earn money online</li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        src="\static\image\Untitled design (7).png">

    </div>
  </div>

</div>
<div class="container mt-6">
  <h1 class="text-center">Everything About Digital Earning</h1>
  <h1 class="text-center">What you will get: </h1>
</div>

<!--what you will get-->
<div class="album py-5">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img src="\static\image\wwg1.png" width="50%" height="50px" class="img-fluid">
          <div class="card-body">
            <p class="card-title">
            <h5>Personalised business coach.</h5>
            </p>
          </div>

        </div>
      </div>



      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img src="\static\image\wwg2.png" width="50%" height="50px" class="img-fluid">
          <div class="card-body">
            <p class="card-title">
            <h5>Unlimited earning </h5>
            </p>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img src="\static\image\wwg3.png" width="50%" height="50px" class="img-fluid">
          <div class="card-body">
            <p class="card-title">
            <h5>Effective structured business platform.</h5>
            </p>
          </div>

        </div>
      </div>

      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img src="\static\image\wwg4.png" width="50%" height="50px" class="img-fluid">
          <div class="card-body">
            <p class="card-title">
            <h5>50+ business videos </h5>
            </p>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img src="\static\image\wwg5.png" width="50%" height="50px" class="img-fluid">
          <div class="card-body">
            <p class="card-title">
            <h5>Lifetime mentorship.</h5>
            </p>
          </div>

        </div>
      </div>
      <div class="col">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
          <img src="\static\image\wwg6.png" width="50%" height="50px" class="img-fluid">
          <div class="card-body">
            <p class="card-title">
            <h5>Live session with our leaders.</h5>
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>




<section class="program_who">
  <div class="container">
    <h3 class="text-center">WHO WILL TEACH YOU

    </h3>
  </div>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3  row-cols-lg-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader3.jpg" class="img-fluid">

            <div class="card-body">
              <h4 class="text-center">Mr. Shibshankar Sarkar</h4>
              <h5 class="text-center">(Upcoming Saphhire leader)</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader2.jpg" width="100%" height="225" class="img-fluid">


            <div class="card-body">
              <h4 class="text-center">Mr. Amitesh Rajput</h4>
              <h5 class="text-center">(Topaz Leader)</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader1.jpg" class="img-fluid">


            <div class="card-body">
              <h4 class="text-center">Mr. Akshay Kirti</h4>
              <h5 class="text-center">(Upcoming Platinum Leader)</h5>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="\static\image\leader4.jpg" class="img-fluid">

            <div class="card-body">
              <h4 class="text-center">Mr. Ramendra Kumar </h4>
              <h5 class="text-center">(Gold Leader )</h5>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


{% endblock body %}