{% extends 'base.html' %}
{% block title %}Team Inspiration{% endblock title %}
{% block body %}

<div class="container-fluid px-0 mb-0 ">
    <img src="\static\image\teamins.jpg" class="d-block w-100 mx-0" height="100%" width="100%" alt="">
</div>


<section class="what_BCP">
    <div class="container">
        <h3 class="text-center">What is team Inspiration ?

        </h3>
        <div class="row pt-4">
            <div class="col-sm-6 col-12 text-center">
                <img src="\static\image\Untitled design (6).png" class="img-fluid">
            </div>
            <div class="col-sm-6 col-12">
                <p> A powerful team is made by persuing their dream and not giving up on hopes. 
                    The team that plays together to achieve its goal. Our target is to motivate others from our actions, 
                    and to  achieve more than what is predicted with our beliefs. So have faith in yourself
                    and on your team.
               </p>
                <button type="button" class="BCP_btn open-frm-modals">Join Our Program</button>
            </div>
        </div>
        <h4 class="">Benefits with team inspiration

        </h4>
        <div class="row pt-4">
            <div class=" tile">
                <img src="\static\image\Untitled design (17).png" class="img-fluid">
                <h5> Personalised business coach.

                </h5>
            </div>
            <div class=" tile">
                <img src="\static\image\Untitled design (15).png" class="img-fluid">
                <h5>Exclusive videos tutorials and Training.

                </h5>
            </div>
            <div class=" tile">
                <img src="\static\image\Untitled design (11).png" class="img-fluid">
                <h5>Live session with our leaders.

                </h5>
            </div>
            <div class=" tile">
                <img src="\static\image\Untitled design (24).png" class="img-fluid">
                <h5>Effective Structured Business Platform</h5>
            </div>

        </div>
    </div>
</section>



<!-- why business program-->
<section class="program_BCP">
    <div class="container">
        <h3 class="text-center">Why Team Inspiration?

        </h3>
        <div class="row pt-4">
            <div class="tile">
                <img src="\static\image\Untitled design (8).png" class="img-fluid">
                <h4>Executive category</h4>
                <p>Develop your basic necessary skills for business requirement or job requirement like – Communication
                    skills, management skill, team building etc.</p>
                <h6><b>Benefits</b></h6>
                <ul>
                    <li>Live sessions with core Leaders.</li>
                    <li>100+ business videos. </li>
                    <li>Lifetime mentorship.</li>
                </ul>
                <button type="button" class="enquire open-frm-modals">Enquire Now</button>
            </div>

            <div class="tile">
                <img src="\static\image\Untitled design (7).png" class="img-fluid">
                <h4>Medium category</h4>
                <p>Our premium category includes all the things that we are providing
                    in executive category and we provide some extra benefits like – Social media marketing and tools.
                </p>
                <h6><b>Benefits</b></h6>
                <ul>
                    <li>Social media profile building.</li>
                    <li> Canva editing & post creation.</li>
                    <li> A platform of online earning up-to 100000 rupees per week.

                    </li>
                    <li>+ Benefits of executive category </li>

                </ul>
                <button type="button" class="enquire open-frm-modals">Enquire Now</button>
            </div>
            <div class="tile">
                <img src="\static\image\Untitled design (22).png" class="img-fluid">
                <h4>Premium category </h4>
                <p>The features of premium category include all the things that we are providing in medium category.
                    It involves some premium features like
                    Distributer level, personal business etc. </p>
                <h6><b>Benefits</b></h6>
                <ul>
                    <li>Distributer level.</li>
                    <li>Unlimited earning.</li>
                    <li>Recorded sessions.</li>
                    <li>Social media profile building.</li>


                    <li>+ Benefits of medium category.</li>
                </ul>
                <button type="button" class="enquire open-frm-modals">Enquire Now</button>
            </div>
        </div>
    </div>
</section>










<!--team inspiration code end-->

<!--about team inspiration code start-->

<section id="about_us" class="py-5">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <div class="web-header mb-4">
                    <h1>About Team Inspiration</h1>
                    <hr />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul>
                    <li>A powerful team is made by perusing their dream and not giving up hopes.</li>
                    <li>The team that plays together reaches its goal.</li>
                    <li>Our target is for inspiring our action, but we can achieve more than what is predicted with our
                        belief.</li>
                    <li>We are helping students in Developing your basic necessary skills.</li>


                </ul>
            </div>
        </div>
    </div>
</section>





{% endblock body %}